<section id="services">
    <div *ngFor="let content of servicesContent" class="">
        <h1>{{content.title}}</h1>

        <div class="row">
            <div class="col-md-4 border-temp animated fadeInRight">
                <h2>Physical Training</h2>
                <p>If you landed here by accident or were deliberately looking to find welcome anyway. My name is Zach and I am a Personal Trainer based near Reading. As you can see my site is currently under construction and should be done in a few weeks,
                    keep checking in to follow my progress.</p>
                <p>Feel free to contact me by hitting the contact me button at the bottom of the page. Feel to make a comment about the site so far or just to say hi, either way I will endeavour to get back to ASAP</p>
                <span class="col-md-6 float-left">
                        <img class="img-fluid img-thumbnail" src="https://unsplash.it/150/150/?random" alt="">
                    </span>
            </div>
            <div class="col-md-4 border-temp">
                <h2>Box Fit</h2>
                <p>If you landed here by accident or were deliberately looking to find welcome anyway. My name is Zach and I am a Personal Trainer based near Reading. As you can see my site is currently under construction and should be done in a few weeks,
                    keep checking in to follow my progress.</p>
                <p>Feel free to contact me by hitting the contact me button at the bottom of the page. Feel to make a comment about the site so far or just to say hi, either way I will endeavour to get back to ASAP</p>
                <h2>Circuit Training </h2>
                <span class="col-md-6 float-left">
                        <img class="img-fluid img-thumbnail" src="https://unsplash.it/150/150/?random" alt="">
                    </span>
                <p>If you landed here by accident or were deliberately looking to find welcome anyway. My name is Zach and I am a Personal Trainer based near Reading. As you can see my site is currently under construction and should be done in a few weeks,
                    keep checking in to follow my progress.</p>
                <p>Feel free to contact me by hitting the contact me button at the bottom of the page. Feel to make a comment about the site so far or just to say hi, either way I will endeavour to get back to ASAP</p>
            </div>
            <div class="col-md-4 border-temp animated fadeInLeft">
                <h2>Online Training</h2>
                <span class="col-md-6 float-right">
                        <img class="img-fluid img-thumbnail" src="https://unsplash.it/150/150/?random" alt="">
                    </span>
                <p>If you landed here by accident or were deliberately looking to find welcome anyway. My name is Zach and I am a Personal Trainer based near Reading. As you can see my site is currently under construction and should be done in a few weeks,
                    keep checking in to follow my progress.</p>
                <p>Feel free to contact me by hitting the contact me button at the bottom of the page. Feel to make a comment about the site so far or just to say hi, either way I will endeavour to get back to ASAP</p>
            </div>
        </div>
    </div>
</section>