<section id="services">
    <div *ngFor="let content of servicesContent" class="">
        <h1>{{content.title}}</h1>

        <div class="row">
            <div class="col-md-4 border-temp animated fadeInRight">
                <h2>Physical Training</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius nibh vitae quam venenatis mollis. Aenean ante enim, pharetra nec tellus quis, tempus pharetra urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Integer efficitur turpis eu erat venenatis dapibus. Proin commodo, diam et elementum congue, sem metus aliquet justo, eget mattis sapien diam ut odio. Quisque rutrum in erat id auctor. Sed orci eros, pulvinar
                    ac massa et, faucibus feugiat est. Ut sed condimentum eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus dapibus enim id mattis faucibus.</p>
            </div>
            <div class="col-md-4 border-temp">
                <h2>Box Fit</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius nibh vitae quam venenatis mollis. Aenean ante enim, pharetra nec tellus quis, tempus pharetra urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Integer efficitur turpis eu erat venenatis dapibus. Proin commodo, diam et elementum congue, sem metus aliquet justo, eget mattis sapien diam ut odio. Quisque rutrum in erat id auctor. Sed orci eros, pulvinar
                    ac massa et, faucibus feugiat est. Ut sed condimentum eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus dapibus enim id mattis faucibus.</p>
                <h2>Curcuit Training </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius nibh vitae quam venenatis mollis. Aenean ante enim, pharetra nec tellus quis, tempus pharetra urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Integer efficitur turpis eu erat venenatis dapibus. Proin commodo, diam et elementum congue, sem metus aliquet justo, eget mattis sapien diam ut odio. Quisque rutrum in erat id auctor. Sed orci eros, pulvinar
                    ac massa et, faucibus feugiat est. Ut sed condimentum eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus dapibus enim id mattis faucibus.</p>
            </div>
            <div class="col-md-4 border-temp animated fadeInLeft">
                <h2>Online Training</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius nibh vitae quam venenatis mollis. Aenean ante enim, pharetra nec tellus quis, tempus pharetra urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Integer efficitur turpis eu erat venenatis dapibus. Proin commodo, diam et elementum congue, sem metus aliquet justo, eget mattis sapien diam ut odio. Quisque rutrum in erat id auctor. Sed orci eros, pulvinar
                    ac massa et, faucibus feugiat est. Ut sed condimentum eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus dapibus enim id mattis faucibus.</p>
            </div>
        </div>
    </div>
</section>